# Ignore the credentials
flask-crm/backend/credentials.json
flask-crm/backend/__pycache__
flask-crm/backend/completeit-backend

# Ignore node modules
flask-crm/frontend/node_modules

# Ignore .vscode
flask-crm/.vscode
