<div id="one_list" class="one_list, card" style="width: 30rem" cdkDrag (cdkDragEnded)="dragEnded($event)" [cdkDragFreeDragPosition]="dragPos">
    <div class="card-body">
    <h3 class="card-title">{{ todo_name }}
        <span id="deleteBtn">
            <!-- <button class="btn btn-danger" (click)="deleteTodoList()"></button> -->
            <img (click)="deleteTodoList()" id="trashcan" src="../../../../assets/images/trashcan.png">
        </span>
    </h3>

    <table cellspacing="0" class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <ng-container *ngFor="let task of todo_list">
            <tr *ngIf="task.task_name">
                <td><input type="checkbox" class="checkbox-round" (change)="changeChecked($event, task)"/> {{task.task_name}}</td>
                <td>{{task.task_description}}</td>
            </tr>
        </ng-container>
        <tr>
            <td><input type="text" [(ngModel)]="task_name"/></td>
            <td><input type="text" [(ngModel)]="task_description"/></td>
        </tr>
    </table>
    <br/>
    <button class="btn btn-primary btn-sm" (click)="addTask()">
        Add Task
    </button>
    <span id="completeBtn">
        <button class="btn btn-success btn-sm" (click)="onDelete()">
            CompleteIt
        </button>
    </span>
    </div>
</div>