<h2>Welcome to ToDoList, {{name}}</h2>

<h3>{{first_todo}}</h3>

<!--<ul>
    <li *ngFor = "let task of first_todo_arr">
        <strong>Name:</strong>
        {{task.task_name}}
        <br/>
        <strong>Description:</strong>
        {{task.task_description}}
    </li>
</ul>-->
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Delete</th>
    </tr>
    <ng-container *ngFor="let task of first_todo_arr">
        <tr>
            <td>{{task.task_name}}</td>
            <td>{{task.task_description}}</td>
            <td><input type="checkbox" (change)="changeChecked($event, task)"/></td>
        </tr>
    </ng-container>
    <tr>
        <td><input type="text" [(ngModel)]="task_name"/></td>
        <td><input type="text" [(ngModel)]="task_description"/></td>
    </tr>
</table>
<br/>
<button (click)="addTask()">
Add ToDo Task
</button>
<button (click)="onDelete()">
    Delete
</button>
<div>
    <br/>
    <button (click)="logout()">
        Logout
    </button>
</div>