td, tr, th, h3 {
    color: black;
}

.one_list {
    max-width: 500px;
    padding-bottom: 5px;
    padding-top: 5px;
    border:5px solid black;
    border-radius: 5px;
    display: inline-block;
    flex-wrap: wrap;
}

#addTaskBtn {
    padding-bottom: 10px;
}

#deleteBtn {
    /* padding-left: 320px; */
    float: right;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #5cb85c;
}

#trashcan {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#completeBtn {
    padding-left: 20px;
}
