label{
    color: white;
    text-align: center;
}
#headerTxt {
    color: black;
    text-align: center;
}
#headerDiv {
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 2px solid;
}
#logoutDiv {
    text-align: center;
}

#todoList {
    display: flex;
    flex-flow: wrap;
}
#todoHeader {
    padding-top: 20px;
}